# Use root/example as user/password credentials
version: '3.1'

services:

  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: contact
      MYSQL_USER: mysql
      MYSQL_PASSWORD: rootpassword
    ports:
      - '3306:3306'
    
  adminer:
    image: adminer
    restart: always
    ports:
      - 9000:8080
